{
  "type": "service_account",
  "project_id": "YOUR_PROJECT_ID",
  "private_key_id": "YOUR_PRIVATE_ID_KEY",
  "private_key": "YOUR_PRIVATE-KEY",
  "client_email": "YOUR_PROJECT_ID",
  "client_id": "111439164304237860773",
  "auth_uri": "YOUR_AUTH_URI",
  "token_uri": "YOUR_TOKEN_URI",
  "auth_provider_x509_cert_url": "YOUR_AUTH_PROVIDER_x509_cert_url",
  "client_x509_cert_url": "YOUR_client_x509_cert_url",
  "universe_domain": "YOUR_UNIVERSE_DOMAIN"
}
